@import 'https://fonts.googleapis.com/css?family=Oswald';

.content-margin-top{
	margin-top: 100px;
}

.stylish-input-group .input-group-addon{
	background: white;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}

.stylish-input-group{
	width: 30%;
	float: right;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.25;
  margin: 0;
}
.menuPersonal {
  background: #384150;
  padding: 2em;
  text-align: center;
}
.menuPersonal ul {
  padding: 0;
}
.menuPersonal li {
  display: inline-block;
  font-size: 1.5em;
  padding: .25em 1em;
  text-transform: uppercase;
}
.menuPersonal li:not(:last-child) {
  border-right: 1px solid #666;
}
.menuPersonal a {
  border-bottom: 3px solid #666;
  color: #ccc;
  text-decoration: none ;
}
.menuPersonal a:hover {
  border-bottom: 3px solid #8bc34a;
}

.active a{
 border-bottom: 3px solid #8bc34a;
}