@import 'https://fonts.googleapis.com/css?family=Oswald';

.content-margin-top{
	margin-top: 100px;
}

.stylish-input-group .input-group-addon{
	background: white;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}

.stylish-input-group{
	width: 30%;
	float: right;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.25;
  margin: 0;
}
.menuPersonal {
  background: #384150;
  padding: 2em;
  text-align: center;
}
.menuPersonal ul {
  padding: 0;
}
.menuPersonal li {
  display: inline-block;
  font-size: 1.5em;
  padding: .25em 1em;
  text-transform: uppercase;
}
.menuPersonal li:not(:last-child) {
  border-right: 1px solid #666;
}
.menuPersonal a {
  border-bottom: 3px solid #666;
  color: #ccc;
  text-decoration: none ;
}
.menuPersonal a:hover {
  border-bottom: 3px solid #4caf7c;
}

.active a{
 border-bottom: 3px solid #4caf7c;
}

.section-box {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

h5 { font-weight: bold; }

#resume-container {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

#resume-container header {
  background: #4caf7c;
  padding: 40px 0 20px;
  position: relative;
}

#resume-container header:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

#resume-container header:after {
  bottom: 0;
  -webkit-transform: skewY(-2.5deg);
      transform: skewY(-2.5deg);
  -webkit-transform-origin: 100%;
      transform-origin: 100%;
}

#resume-container header .resume-portfolio-pic { border-radius: 50%; height: 200px; width: 200px; margin: 0 auto; display: block; }

.resume-name { text-align: center; color: white; padding-top: 50px; }

#resume-container .contact-info { text-align: center; padding: 10px 0; margin: 20px 0; color: white; }
#resume-container .contact-info a  { color: white; text-decoration: none; }

#resume-container #summary { padding: 50px 10px 0; }
#resume-container #summary .summary { padding: 0 20px; }

#resume-container .skill-text { text-align: center; }

#resume-container .contact-info .email, #resume-container .contact-info .phone { margin-bottom: 20px; }

.page-header{
  border-bottom: 1px solid #fff;
}

.text-size-profile{
  font-size: 5em;
}

.margin-bottom-projects{
  margin-bottom: 40px;
}